body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
}


h1 {
  color: navy;
  text-align: center;
}


p {
  font-size: 16px;
  color: #333333;
}


a {
  color: green;
  text-decoration: none;
}


a:hover {
  color: darkgreen;
  text-decoration: underline;
}


img {
  display: block;
  margin: 20px auto;
  width: 150px;
}
